/*color gris: #373636;
  color amarillo: #F9BA08;
  color gris claro: #CFCECC;  */

body{
	font-family: 'Roboto', sans-serif;
	text-align: center;/*para centrar el contenido*/
	color: white;
}

#tuerca{
	animation-duration: 2s;/*controla el tiempo de animación*/
	animation-iteration-count: infinite;/*Hace que la animación sea infinita, sin detenerse*/    
    animation-direction: alternate;/*Hace que la animación vuelva a su punto de origen*/
    animation-name: tuerca;
}

@keyframes tuerca{
	0%{
		transform: rotate(-75deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

button{	   
    animation-name: botons;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

@keyframes botons{
	0%{
		transform: scale(0, 0);
	}
	100%{
		transform: scale(1, 1);
	}	
}

#principal{
	background-color: #373636;
	text-align: center;
}

#principal img{
	margin-top: 20%;
}

#principal h1{
	margin-top: 5%;
	font-weight: 900;
	font-size: 30px;
	color: #F9BA08;
}

#formulario{
	background-color: white;
	width: 90%;
	height: auto;
	color: #CFCECC;
	margin-top: 20%;
	margin-left: 5%;
}

#formulario span{	
	width: 100%;
	height: 5vh;
	color: #CFCECC;
	font-size: 20px;	
	margin-left: 15px;
	padding: 5px;	
}

#formulario input{	
	width: 80%;
	height: 5vh;
	color: #373636;
	font-size: 15px;
	border-style: none;	
}

.btn{
	width: 100%;
	height: 9vh;
	background-color: #F9BA08;
	color: #373636;
	font-size: 18px;
	margin-top: 10px;
}

#formulario hr{
	color: #373636;	
}

#box{
	margin-top: 20px;	
}

#box p{
	margin-left: -110px;
	font-size: 13px;
}

#box h1{	
	font-size: 13px;
	margin-top: 15%;
	color: white;
	margin-bottom: 10%;
	font-weight: 500;	
}

#box a{	
	color: #F9BA08;
	font-weight: 700;
}

.errores{
    background: red;
    color: white;
    display: none;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 5px;
    position: absolute;
}

/*Index 2*/


#box2{
	background-color: #CFCECC; 	
}

.navbar{
	background-color: #373636;
	height: 10vh;
	width: 100%;
	padding: 15px;	
}

.glyphicon-menu-hamburger:before {
    margin-right: 75px;
    margin-left: -80px;
}

.navbar-toggle-left{
	background-color: transparent;
	border-style: none;
	font-size: 20px;	
	float: left;
}

.navbar-collapse{
	background-color: white;
	height: 150vh;
}

.navbar-fixed-top .navbar-collapse {
    max-height: 550px;
    left: -72px;
}

.container-fluid>.navbar-collapse{
	margin-top: -42px;
	margin-left: -29px;
	margin-right: 80px;
}

#color-a{
	color: #F9BA08;
	font-size: 16px;
}

.navbar-collapse ul li{
	margin-top: 25px;
	margin-left: 20px;
	
}

.navbar-collapse ul li a{
	color: #373636;
}

.navbar-collapse ul li:hover{
	background-color: #CFCECC; 
	padding: 5px;
}

#close{
	float: right;
	margin-top: 10px;	
	color: black;
	margin-right: 5px;	
}

.navbar:hover .navbar-collapse{
	transform: translateX(-2px);	
}

#box3{
	margin-top: 60%;
}

.btn2{
	width: 85%;
	height: 8vh;
	background-color: #F9BA08;
	color: white;
	font-size: 15px;
	margin-top: 10px;
	border-style: none;
}

/*Index 3*/

#box4{
	background-color: #F9BA08;
	height: 45vh;
}

#box4 img{
	margin-top: 70px;
}

#box5{
	margin-top: 20px;
	flex-direction: column;
}

#box5.usuario{
	color: black;
	background-color: white;	
	height: auto;
	padding: 10px 45px;	
}

#box5 input{
	width: 250px;
	margin-top: 30px;
	color: black;
	background-color: transparent;
	border-style: none;
	border-bottom: 1px solid #373636;
	margin-bottom: 30px;
}

.caja p{
	background-color: white;
	color: black;
	width: 270px;
	height: auto;
	margin-top: 10px;
	margin-left: 23px;
	text-align: left;
	padding: 5px;
}

.usuario{
	width: 200px;
	height: auto;
	background-color: white;
	color: black;
	font-weight: 900;
	padding: 5px;
	margin-left: 20%;
}
/*Index 4*/

#box6{
	background-color: #F9BA08;
	height: 45vh;
}

#box6 h1{
	padding: 80px 30px;
	font-size: 30px;
}

#box7{
	margin-top: 20px;
	color: black;	
}

.panel-heading{
	width: auto;
	height: auto;
}

#box7 a{
	font-size: 13px;
}

.panel-group .panel {    
    width: 90%;
    margin-left: 5%;
    font-size: 13px;
}

/*Index 5*/

#box8{
	margin-top: 80px;
}

#box8 span{
	color: black;
	background-color: white;	
	height: auto;
	padding: 10px 45px;	
}

#box8 input{
	width: 250px;
	margin-top: 30px;
	color: black;
	background-color: transparent;
	border-style: none;
	border-bottom: 1px solid #373636;
	margin-bottom: 30px;
}

#box8 select{
	width: 250px;
	color: black;
}

.btn3{
	width: 85%;
	height: 8vh;
	background-color: #F9BA08;
	color: white;
	font-size: 15px;
	font-weight: 900;
	margin-top: 30px;
	border-style: none;
}

.saldo h3{
	width: 250px;
	height: auto;
	padding: 5px;
	background-color: #373636;
	color: white;
	margin-top: 50px;
	margin-left: 30px;
	font-size: 15px;
}

.saldo h5{
	width: 250px;
	height: 100px;	
	background-color: #F9BA08;
	color: white;
	margin-left: 30px;
	font-size: 25px;
	padding: 30px;
	margin-top: -30px;
	font-weight: bold;
}

/*Index 6*/

#box9{
	margin-top: 80px;
}

#box9 span{
	color: black;
	background-color: white;	
	height: auto;
	padding: 10px 45px;	
}

#box9 input{
	width: 250px;
	margin-top: 30px;
	color: black;
	background-color: transparent;
	border-style: none;
	border-bottom: 1px solid #373636;
	margin-bottom: 30px;
	margin-right: 40px;
}

#box9 select{
	width: 150px;
	color: black;
}

.btn4{
	width: 85%;
	height: 8vh;
	background-color: #F9BA08;
	color: white;
	font-size: 15px;
	font-weight: 900;
	margin-top: 30px;
	border-style: none;
}

.calculo h3{
	width: 250px;
	height: auto;
	padding: 5px;
	background-color: #373636;
	color: white;
	margin-top: 50px;
	margin-left: 30px;
	font-size: 15px;
}

.calculo h5{
	width: 250px;
	height: 50px;	
	background-color: #F9BA08;
	color: white;
	margin-left: 30px;
	font-size: 25px;
	padding: 30px;
	margin-top: -30px;
	font-weight: bold;
}


 



