/*color gris: #373636;
  color amarillo: #F9BA08;
  color gris claro: #CFCECC;  */

body{
	font-family: 'Roboto', sans-serif;
	text-align: center;/*para centrar el contenido*/
	color: white;
}

#principal{
	background-color: #373636;
	text-align: center;
}

#principal img{
	margin-top: 20%;
}

#principal h1{
	margin-top: 5%;
	font-weight: 900;
	font-size: 30px;
	color: #F9BA08;
}

#formulario{
	background-color: white;
	width: 90%;
	height: auto;
	color: #CFCECC;
	margin-top: 20%;
	margin-left: 5%;
}

#formulario span{	
	width: 100%;
	height: 5vh;
	color: #CFCECC;
	font-size: 20px;	
	margin-left: 15px;
	padding: 5px;	
}

#formulario input{	
	width: 80%;
	height: 5vh;
	color: #373636;
	font-size: 15px;
	border-style: none;	
}

.btn{
	width: 100%;
	height: 9vh;
	background-color: #F9BA08;
	color: #373636;
	font-size: 18px;
	margin-top: 10px;
}

#formulario hr{
	color: #373636;	
}

#box{
	margin-top: 20px;	
}

#box p{
	margin-left: -110px;
	font-size: 13px;
}

#box h1{	
	font-size: 13px;
	margin-top: 15%;
	color: white;
	margin-bottom: 10%;
	font-weight: 500;	
}

#box a{	
	color: #F9BA08;
	font-weight: 700;
}

/*Index 2*/


#box2{
	background-color: #CFCECC; 	
}

.navbar{
	background-color: #373636;
	height: 10vh;
	width: 100%;
	padding: 15px;
}

.glyphicon-menu-hamburger:before {
    margin-right: 75px;
    margin-left: -80px;
}

.navbar-toggle-left{
	background-color: transparent;
	border-style: none;
	font-size: 20px;	
	float: left;
}

.navbar-collapse{
	background-color: white;
	height: 150vh;
}

.navbar-fixed-top .navbar-collapse {
    max-height: 550px;
    left: -72px;
}

.container-fluid>.navbar-collapse{
	margin-top: -42px;
	margin-left: -29px;
	margin-right: 80px;
}

#color-a{
	color: #F9BA08;
	font-size: 16px;
}

.navbar-collapse ul li{
	margin-top: 25px;
	margin-left: 20px;
	
}

.navbar-collapse ul li a{
	color: #373636;
}

#box3{
	margin-top: 60%;
}

.btn2{
	width: 85%;
	height: 8vh;
	background-color: #F9BA08;
	color: white;
	font-size: 15px;
	margin-top: 10px;
	border-style: none;
}

/*Index 3*/

#box4{
	background-color: #F9BA08;
	height: 45vh;
}

#box4 img{
	margin-top: 70px;
}

#box5{
	margin-top: 20px;
	flex-direction: column;
}

#box5 span{
	color: black;
	background-color: white;	
	height: auto;
	padding: 10px 45px;	
}

#box5 input{
	width: 250px;
	margin-top: 30px;
	color: black;
	background-color: transparent;
	border-style: none;
	border-bottom: 1px solid #373636;
	margin-bottom: 30px;
}



